<a href="https://colab.research.google.com/github/MadmanMarble/GLAP/blob/main/Assignment_3_part_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("https://gist.githubusercontent.com/DariaAlekseeva/299611a0daa6008685f7/raw/b431eb200bcafd2eba68a11ccbc80d051d3eeba9/titanic.csv")

#Assigned tasks:
##For the Titanic dataframe, write code in code cells to show
1. Head of the Titanic dataframe
2. Number of rows
3. Column names
4. Data types of columns

In [ ]:
df.head()

,PassengerId,Passengers,Class,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,Perished,3,"Braund, Mr. Owen Harris",male,19 - 40,1,0,A/5 21171,7.2500,NaN,S
1,2,Survived,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,19 - 40,1,0,PC 17599,71.2833,C85,C
2,3,Survived,3,"Heikkinen, Miss. Laina",female,19 - 40,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,Survived,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,19 - 40,1,0,113803,53.1000,C123,S
4,5,Perished,3,"Allen, Mr. William Henry",male,19 - 40,0,0,373450,8.0500,NaN,S

In [ ]:
# we are going to work on this in class, it's not that difficult, then we'll do it on our own.

In [ ]:
# how many rows are in the dataframe?
# .shape shows the rows and columns in the table
# the result is a tuple () means tuple. {} means set. [] means list.
# () tuple is not allowed to change.
# df.shape[0] refers to the providing the first number in the tuple = 1046
df.shape

(1046, 12)

In [ ]:
df.dtypes

PassengerId      int64
Passengers      object
Class            int64
Name            object
Sex             object
Age             object
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [ ]:
# .describe() will answer both 1 and 2 (mean and minimum)
df.describe()

       PassengerId        Class        SibSp       Parch         Fare
count  1046.000000  1046.000000  1046.000000  1046.00000  1045.000000
mean    655.362333     2.207457     0.502868     0.42065    36.686080
std     377.661401     0.841497     0.912167     0.83975    55.732533
min       1.000000     1.000000     0.000000     0.00000     0.000000
25%     326.250000     1.000000     0.000000     0.00000     8.050000
50%     662.500000     2.000000     0.000000     0.00000    15.750000
75%     973.750000     3.000000     1.000000     1.00000    35.500000
max    1307.000000     3.000000     8.000000     6.00000   512.329200

In [ ]:
# the mean for each of these codes
df.mean(numeric_only=True)

PassengerId    655.362333
Class            2.207457
SibSp            0.502868
Parch            0.420650
Fare            36.686080
dtype: float64

In [ ]:
# for the assignments:::: you can have different answers. feel free to be crative, do analysis, don't be defined to the tasks, just recommendations
# layer on with different variations, feel free.

#Assigned tasks:
##Write a command
1. that finds the mean of all numerical variables in titanic
2. that finds the minimum values of all columns in titanic
3. that uses the code from above to find the minimum age of all passengers in titanic

#Assigned tasks:
##Subsetting is the process of retrieving parts of a data frame. Write code to
1. create a data frame with only the columns **sex** and **survived** from the Titanic data set
2. show the 5 rows of the resulting data frame
3. select all the rows where the column pclass has a value of 3.

In [ ]:
# age is in a string like 19 - 40. therefore it is important to ask, what is the minimum for any of these ranges.
# the min age of all passengers, the min of any range. then min of all the ranges.
df['Age'].unique()

array(['19 - 40', 'Over 40', 'Under 18'], dtype=object)

In [ ]:
# df.Age.replace('Over 40', '40+').replace('Under 18', '0 - 17').min()
# not perfect but it still works

In [ ]:
# it's important to use tool to that will augment our learning. chatGPT is great at augmenting code

In [ ]:
# Passengers column. this is the one to use for the "survived"
#