<a href="https://colab.research.google.com/github/MadmanMarble/GLAP/blob/main/Assignment_3_part_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("https://gist.githubusercontent.com/DariaAlekseeva/299611a0daa6008685f7/raw/b431eb200bcafd2eba68a11ccbc80d051d3eeba9/titanic.csv")

#Assigned tasks:
##For the Titanic dataframe, write code in code cells to show
1. Head of the Titanic dataframe
2. Number of rows
3. Column names
4. Data types of columns

#Assigned tasks:
##Write a command
1. that finds the mean of all numerical variables in titanic
2. that finds the minimum values of all columns in titanic
3. that uses the code from above to find the minimum age of all passengers in titanic

#Assigned tasks:
##Subsetting is the process of retrieving parts of a data frame. Write code to
1. create a data frame with only the columns **sex** and **survived** from the Titanic data set
2. show the 5 rows of the resulting data frame
3. select all the rows where the column pclass has a value of 3.