<a href="https://colab.research.google.com/github/MadmanMarble/GLAP/blob/main/Assignment_3_part_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://gist.githubusercontent.com/DariaAlekseeva/299611a0daa6008685f7/raw/b431eb200bcafd2eba68a11ccbc80d051d3eeba9/titanic.csv")

#Assigned tasks:
##For the Titanic dataframe, write code in code cells to show
1. Head of the Titanic dataframe
2. Number of rows
3. Column names
4. Data types of columns

In [3]:
# 1. Head of the Titanic dataframe
df.head()

,PassengerId,Passengers,Class,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,Perished,3,"Braund, Mr. Owen Harris",male,19 - 40,1,0,A/5 21171,7.2500,NaN,S
1,2,Survived,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,19 - 40,1,0,PC 17599,71.2833,C85,C
2,3,Survived,3,"Heikkinen, Miss. Laina",female,19 - 40,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,Survived,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,19 - 40,1,0,113803,53.1000,C123,S
4,5,Perished,3,"Allen, Mr. William Henry",male,19 - 40,0,0,373450,8.0500,NaN,S

In [4]:
# 2. Number of rows
print(f'Number of rows: {df.shape[0]}')
print(f'Number of columns: {df.shape[1]}')
print(f'Shape of the dataframe: {df.shape}')

Number of rows: 1046
Number of columns: 12
Shape of the dataframe: (1046, 12)

In [5]:
# 3. Column names
print(f'Column names: {df.columns.tolist()}')

Column names: ['PassengerId', 'Passengers', 'Class', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']

In [6]:
# 4. Data types of columns
print(df.dtypes)

PassengerId      int64
Passengers      object
Class            int64
Name            object
Sex             object
Age             object
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

#Assigned tasks:
##Write a command
1. that finds the mean of all numerical variables in titanic
2. that finds the minimum values of all columns in titanic
3. that uses the code from above to find the minimum age of all passengers in titanic

**1. Write a command that finds the mean of all numerical variables in titanic**

In [7]:
# Determine which variables are numeric and which are not
print("Numeric variables:", df.select_dtypes(include=['number']).columns)
print("Object variables:", df.select_dtypes(include=['object']).columns)

Numeric variables: Index(['PassengerId', 'Class', 'SibSp', 'Parch', 'Fare'], dtype='object')
Object variables: Index(['Passengers', 'Name', 'Sex', 'Age', 'Ticket', 'Cabin', 'Embarked'], dtype='object')

In [8]:
# Select only the numeric variables
numeric_df = df[['PassengerId', 'Class', 'SibSp', 'Parch', 'Fare']]

In [9]:
# Find the mean of only the numeric variables
numeric_means = numeric_df.mean()
print("Means of  numeric variables: \n", numeric_means)

Means of  numeric variables:
 PassengerId    655.362333
Class            2.207457
SibSp            0.502868
Parch            0.420650
Fare            36.686080
dtype: float64

**2. Write a command that finds the minimum variables of all columns in the titanic**

In [10]:
# 2. Write a command that finds the minimum values of all columns in titanic
numeric_mins = numeric_df.min()
print("Minimum of numeric variables:\n", numeric_mins)

Minimum of numeric variables:
 PassengerId    1.0
Class          1.0
SibSp          0.0
Parch          0.0
Fare           0.0
dtype: float64

**3. Write code hat uses the code from above to find the minimum age of all passengers in titanic**

In [11]:
# Age column editing
print(df['Age'].unique())

# Change the wording of the age groups to all be just numbers
df['Age'] = df['Age'].replace({'Over 40': '40+', 'Under 18': '0 - 17'})
print(df['Age'].unique())
print("Minimum age of passengers:", df['Age'].min())

['19 - 40' 'Over 40' 'Under 18']
['19 - 40' '40+' '0 - 17']
Minimum age of passengers: 0 - 17

#Assigned tasks:
##Subsetting is the process of retrieving parts of a data frame. Write code to
1. create a data frame with only the columns **sex** and **survived** from the Titanic data set
2. show the 5 rows of the resulting data frame
3. select all the rows where the column pclass has a value of 3.

In [12]:
# Passengers column. this is the one to use for the "survived"
df.head()

,PassengerId,Passengers,Class,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,Perished,3,"Braund, Mr. Owen Harris",male,19 - 40,1,0,A/5 21171,7.2500,NaN,S
1,2,Survived,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,19 - 40,1,0,PC 17599,71.2833,C85,C
2,3,Survived,3,"Heikkinen, Miss. Laina",female,19 - 40,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,Survived,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,19 - 40,1,0,113803,53.1000,C123,S
4,5,Perished,3,"Allen, Mr. William Henry",male,19 - 40,0,0,373450,8.0500,NaN,S

**1. Create a data frame with only the columns sex and survived from the Titanic data set**

In [13]:
sex_survived_df = df[['Sex', 'Passengers']]
print(f'Shape of the dataframe: {sex_survived_df.shape}')
print(sex_survived_df.head())

Shape of the dataframe: (1046, 2)
      Sex Passengers
0    male   Perished
1  female   Survived
2  female   Survived
3  female   Survived
4    male   Perished

In [14]:
sex_survived_df = sex_survived_df[sex_survived_df['Passengers']=='Survived']
print(f'Shape of the dataframe: {sex_survived_df.shape}')
print(sex_survived_df.head())

Shape of the dataframe: (411, 2)
      Sex Passengers
1  female   Survived
2  female   Survived
3  female   Survived
7  female   Survived
8  female   Survived

**2. Show the 5 rows of the resulting data frame**

In [19]:
sex_survived_df.head()

      Sex Passengers
1  female   Survived
2  female   Survived
3  female   Survived
7  female   Survived
8  female   Survived

**3. Select all the rows where the column 'class' has a value of 3.**

In [16]:
survived_by_class = df[['Class','Sex', 'Passengers']]

In [17]:
print(f'Shape of the dataframe: {survived_by_class.shape}')
print(survived_by_class.head())

Shape of the dataframe: (1046, 3)
   Class     Sex Passengers
0      3    male   Perished
1      1  female   Survived
2      3  female   Survived
3      1  female   Survived
4      3    male   Perished

In [18]:
survived_by_class = survived_by_class[survived_by_class['Passengers']=='Survived']
print(f'Shape of the dataframe: {survived_by_class.shape}')
print(survived_by_class.head())

Shape of the dataframe: (411, 3)
   Class     Sex Passengers
1      1  female   Survived
2      3  female   Survived
3      1  female   Survived
7      3  female   Survived
8      2  female   Survived

In [20]:
survived_by_class.head()

   Class     Sex Passengers
1      1  female   Survived
2      3  female   Survived
3      1  female   Survived
7      3  female   Survived
8      2  female   Survived

In [21]:
survived_by_class = survived_by_class[survived_by_class['Class']== 3]
print(f'Shape of the dataframe: {survived_by_class.shape}')
print(survived_by_class.head())

Shape of the dataframe: (129, 3)
    Class     Sex Passengers
2       3  female   Survived
7       3  female   Survived
9       3  female   Survived
19      3  female   Survived
22      3  female   Survived

In [22]:
survived_by_class.head()

    Class     Sex Passengers
2       3  female   Survived
7       3  female   Survived
9       3  female   Survived
19      3  female   Survived
22      3  female   Survived