<a href="https://colab.research.google.com/github/MadmanMarble/GLAP/blob/main/Assignment_3_part_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://gist.githubusercontent.com/DariaAlekseeva/299611a0daa6008685f7/raw/b431eb200bcafd2eba68a11ccbc80d051d3eeba9/titanic.csv")

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

#Assigned tasks:
##For the Titanic dataframe, write code in code cells to show
1. Head of the Titanic dataframe
2. Number of rows
3. Column names
4. Data types of columns

In [7]:
# 1. Head of the Titanic dataframe
df.head()

,PassengerId,Passengers,Class,Name,Sex,...,Parch,Ticket,Fare,Cabin,Embarked
0,1,Perished,3,"Braund, Mr. Owen Harris",male,...,0,A/5 21171,7.2500,NaN,S
1,2,Survived,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,...,0,PC 17599,71.2833,C85,C
2,3,Survived,3,"Heikkinen, Miss. Laina",female,...,0,STON/O2. 3101282,7.9250,NaN,S
3,4,Survived,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,...,0,113803,53.1000,C123,S
4,5,Perished,3,"Allen, Mr. William Henry",male,...,0,373450,8.0500,NaN,S

In [14]:
# 2. Number of rows
print(f'Number of rows: {df.shape[0]}')
print(f'Number of columns: {df.shape[1]}')
print(f'Shape of the dataframe: {df.shape}')

Number of rows: 1046
Number of columns: 12
Shape of the dataframe: (1046, 12)

In [15]:
# 3. Column names
print(f'Column names: {df.columns.tolist()}')

Column names: ['PassengerId', 'Passengers', 'Class', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']

In [16]:
# 4. Data types of columns
print(df.dtypes)

PassengerId      int64
Passengers      object
Class            int64
Name            object
Sex             object
Age             object
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [ ]:
# for the assignments:::: you can have different answers. feel free to be crative, do analysis, don't be defined to the tasks, just recommendations
# layer on with different variations, feel free.

#Assigned tasks:
##Write a command
1. that finds the mean of all numerical variables in titanic
2. that finds the minimum values of all columns in titanic
3. that uses the code from above to find the minimum age of all passengers in titanic

**1. Write a command that finds the mean of all numerical variables in titanic**

In [43]:
# Determine which variables are numeric and which are not
print("Numeric variables:", df.select_dtypes(include=['number']).columns)
print("Object variables:", df.select_dtypes(include=['object']).columns)

Numeric variables: Index(['PassengerId', 'Class', 'SibSp', 'Parch', 'Fare'], dtype='object')
Object variables: Index(['Passengers', 'Name', 'Sex', 'Age', 'Ticket', 'Cabin', 'Embarked'], dtype='object')

In [44]:
# Select only the numeric variables
numeric_df = df[['PassengerId', 'Class', 'SibSp', 'Parch', 'Fare']]

In [45]:
# Find the mean of only the numeric variables
numeric_means = numeric_df.mean()
print("Means of  numeric variables: \n", numeric_means)

Means of  numerical variables:
 PassengerId    655.362333
Class            2.207457
SibSp            0.502868
Parch            0.420650
Fare            36.686080
dtype: float64

**2. Write a command that finds the minimum variables of all columns in the titanic**

In [47]:
object_df = df[['Passengers', 'Name', 'Sex', 'Age', 'Ticket', 'Cabin', 'Embarked']]

In [66]:
# 2. Write a command that finds the minimum values of all columns in titanic
numeric_mins = numeric_df.min()
print("Minimum of numeric variables:\n", numeric_mins)

Minimum of numeric variables:
 PassengerId    1.0
Class          1.0
SibSp          0.0
Parch          0.0
Fare           0.0
dtype: float64

**3. Write code hat uses the code from above to find the minimum age of all passengers in titanic**

In [69]:
# Age column editing
print(df['Age'].unique())

# Change the wording of the age groups to all be just numbers
df['Age'] = df['Age'].replace({'Over 40': '40+', 'Under 18': '0 - 17'})
print(df['Age'].unique())
print("Minimum age of passengers:", df['Age'].min())

['19 - 40' '40+' '0 - 17']
['19 - 40' '40+' '0 - 17']
Minimum age of passengers: 0 - 17

#Assigned tasks:
##Subsetting is the process of retrieving parts of a data frame. Write code to
1. create a data frame with only the columns **sex** and **survived** from the Titanic data set
2. show the 5 rows of the resulting data frame
3. select all the rows where the column pclass has a value of 3.

In [71]:
# Passengers column. this is the one to use for the "survived"
df.head()

,PassengerId,Passengers,Class,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_numeric
0,1,Perished,3,"Braund, Mr. Owen Harris",male,19 - 40,1,0,A/5 21171,7.2500,NaN,S,29.5
1,2,Survived,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,19 - 40,1,0,PC 17599,71.2833,C85,C,29.5
2,3,Survived,3,"Heikkinen, Miss. Laina",female,19 - 40,0,0,STON/O2. 3101282,7.9250,NaN,S,29.5
3,4,Survived,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,19 - 40,1,0,113803,53.1000,C123,S,29.5
4,5,Perished,3,"Allen, Mr. William Henry",male,19 - 40,0,0,373450,8.0500,NaN,S,29.5

**1. Create a data frame with only the columns sex and survived from the Titanic data set**

In [105]:
sex_survived_df = df[['Sex', 'Passengers']]
print(f'Number of rows: {sex_survived_df.shape[0]}')
print(f'Number of columns: {sex_survived_df.shape[1]}')
print(f'Shape of the dataframe: {sex_survived_df.shape}')

Number of rows: 1046
Number of columns: 2
Shape of the dataframe: (1046, 2)

In [106]:
sex_survived_df = sex_survived_df[sex_survived_df['Passengers']=='Survived']
print(f'Number of rows: {sex_survived_df.shape[0]}')
print(f'Number of columns: {sex_survived_df.shape[1]}')
print(f'Shape of the dataframe: {sex_survived_df.shape}')

Number of rows: 411
Number of columns: 2
Shape of the dataframe: (411, 2)

**2. Show the 5 rows of the resulting data frame**

In [107]:
print(sex_survived_df.head())

      Sex Passengers
1  female   Survived
2  female   Survived
3  female   Survived
7  female   Survived
8  female   Survived

**3. Select all the rows where the column pclass has a value of 3.**

In [110]:
survived_by_class = df[['Class','Sex', 'Passengers']]

In [111]:
print(f'Shape of the dataframe: {survived_by_class.shape}')

Shape of the dataframe: (1046, 3)

In [115]:
survived_by_class = survived_by_class[survived_by_class['Passengers']=='Survived']
print(f'Shape of the dataframe: {survived_by_class.shape}')

Shape of the dataframe: (129, 13)

In [116]:
survived_by_class.head()

,PassengerId,Passengers,Class,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_numeric
2,3,Survived,3,"Heikkinen, Miss. Laina",female,19 - 40,0,0,STON/O2. 3101282,7.9250,NaN,S,29.5
7,9,Survived,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,19 - 40,0,2,347742,11.1333,NaN,S,29.5
9,11,Survived,3,"Sandstrom, Miss. Marguerite Rut",female,0 - 17,1,1,PP 9549,16.7000,G6,S,8.5
19,23,Survived,3,"McGowan, Miss. Anna ""Annie""",female,0 - 17,0,0,330923,8.0292,NaN,Q,8.5
22,26,Survived,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,19 - 40,1,5,347077,31.3875,NaN,S,29.5

In [113]:
survived_by_class = df[df['Class']== 3]
print(f'Shape of the dataframe: {survived_by_class.shape}')

Shape of the dataframe: (501, 13)

In [114]:
survived_by_class.head()

,PassengerId,Passengers,Class,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_numeric
0,1,Perished,3,"Braund, Mr. Owen Harris",male,19 - 40,1,0,A/5 21171,7.2500,NaN,S,29.5
2,3,Survived,3,"Heikkinen, Miss. Laina",female,19 - 40,0,0,STON/O2. 3101282,7.9250,NaN,S,29.5
4,5,Perished,3,"Allen, Mr. William Henry",male,19 - 40,0,0,373450,8.0500,NaN,S,29.5
6,8,Perished,3,"Palsson, Master. Gosta Leonard",male,0 - 17,3,1,349909,21.0750,NaN,S,8.5
7,9,Survived,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,19 - 40,0,2,347742,11.1333,NaN,S,29.5

In [100]:
sex_survived_df = sex_survived_df[sex_survived_df['Passengers']=='Survived']
survived_by_class = df[df['Class']== 3]
print(f'Number of rows: {survived_by_class.shape[0]}')
print(f'Number of columns: {survived_by_class.shape[1]}')
print(f'Shape of the dataframe: {survived_by_class.shape}')

Number of rows: 501
Number of columns: 13
Shape of the dataframe: (501, 13)

In [97]:
by_class.head()

,PassengerId,Passengers,Class,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_numeric
0,1,Perished,3,"Braund, Mr. Owen Harris",male,19 - 40,1,0,A/5 21171,7.2500,NaN,S,29.5
2,3,Survived,3,"Heikkinen, Miss. Laina",female,19 - 40,0,0,STON/O2. 3101282,7.9250,NaN,S,29.5
4,5,Perished,3,"Allen, Mr. William Henry",male,19 - 40,0,0,373450,8.0500,NaN,S,29.5
6,8,Perished,3,"Palsson, Master. Gosta Leonard",male,0 - 17,3,1,349909,21.0750,NaN,S,8.5
7,9,Survived,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,19 - 40,0,2,347742,11.1333,NaN,S,29.5

In [98]:
by_class

/usr/local/lib/python3.10/dist-packages/google/colab/_dataframe_summarizer.py:57: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(column, errors="raise")

,PassengerId,Passengers,Class,Name,Sex,...,Ticket,Fare,Cabin,Embarked,Age_numeric
0,1,Perished,3,"Braund, Mr. Owen Harris",male,...,A/5 21171,7.2500,NaN,S,29.5
2,3,Survived,3,"Heikkinen, Miss. Laina",female,...,STON/O2. 3101282,7.9250,NaN,S,29.5
4,5,Perished,3,"Allen, Mr. William Henry",male,...,373450,8.0500,NaN,S,29.5
6,8,Perished,3,"Palsson, Master. Gosta Leonard",male,...,349909,21.0750,NaN,S,8.5
7,9,Survived,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,...,347742,11.1333,NaN,S,29.5
...,...,...,...,...,...,...,...,...,...,...,...
1031,1290,Perished,3,"Larsson-Rondberg, Mr. Edvard A",male,...,347065,7.7750,NaN,S,29.5
1032,1291,Perished,3,"Conlon, Mr. Thomas Henry",male,...,21332,7.7333,NaN,Q,29.5
1041,1301,Survived,3,"Peacock, Miss. Treasteall",female,...,SOTON/O.Q. 3101315,13.7750,NaN,S,8.5
1043,1304,Survived,3,"Henriksson, Miss. Jenny Lovisa",female,...,347086,7.7750,NaN,S,29.5
1045,1307,Perished,3,"Saether, Mr. Simon Sivertsen",male,...,SOTON/O.Q. 3101262,7.2500,NaN,S,29.5